In [15]:
a='10'
isinstance(a,str)

True

In [17]:
l = [1,2,3,4,'1','a','b','c',5.8,9.3]
for i in l:
    if isinstance(i,float):
        print(i)

5.8
9.3

Types of Variables:
int
float
complex
string ' ', " ", ''' ''', """ """
bool True, False
list = [ ] 
tuple = ( )
dict = { k:v, }
set = { }

In [6]:
a=10
isinstance(a,float)

False

Operators:
Arithmetic: + - * / % **(Exponential) //(floor/int div)
Logical: and or not
Assignment: = += -= *= /= **= //=
Comparison: == != > < >= <=
Bitwise: & | ^ << >>
Special:
    Membership:
        in
        not in
    Identity
        is
        is not 
and 
0  0  =  0
0  1  =  0
1  0  =  0
1  1  =  1
or:
0  0  =  0
0  1  =  1
1  0  =  1
1  1  =  1
not
cond == True
false
cond == false
true

In [21]:
2**3

8

In [23]:
int(13/2)

6

In [26]:
13//2

6

In [9]:
2 ** 4

8

> Greater
< Lesser
>= Greater or equal
<= Lesser or equal
== Equal
!= Not equal

In [38]:
10 | 2

10

In [ ]:
1010
0010
1000 -> 8

64 32 16 8 4 2 1
0  0  0      1 0


2 | 2 
2 | 1 - 0
2 | 0 - 1

In [40]:
10 >> 2

2

In [31]:
a=10
not(a!=10)

True

In [36]:
a=10
# a=a+20
a+=20
a

30

In [44]:
10 not in [1,2,3,4,5,6]

True

In [46]:
'Shiva' is  "Dhanu"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/p9/krmkj3g17fg0tk8ht27lq40r0000gn/T/ipykernel_5660/2990523969.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  'Shiva' is  "Dhanu"

False

In [1]:
1010
0010
0010

2

Input and Output:
input() is used to read data from the user
print() is used to display data to the user

In [18]:
a = int(input("Enter a Number"))

In [26]:
print("Hello World",a,b,sep="")

Hello World1010

In [30]:
print(a,end="----")
print(b)
print(a)

10----10
10

In [34]:
n = int(input("Enter a number: "))
print((n%10)*10+(n//10))

54

Enter total number of Products: 30
Enter price per Product: 100
Total: 3000
Dis: 300
Net: 2700

Conditional Statements:
if
else
nested if
if elif ladder

if cond:
    statement
statement

In [10]:
a=200
b=200
if a>b:print("A>B")
else:
    print("A<B")

A<B

# Syntax of nested if else
if cond:
    statement
    if cond:
        statement
    else:
        statement
    statement
else:
    statement
    if cond:
        statement
    else:
        statement
    statement

In [13]:
a,b,c = 1000,200,30
if a>b:
    if a>c:
        print("A is Greater")
    else:
        print("B is Greater")
else:
    if b>c:
        print("B is Greater")
    else:
        print("C is Greater")

A is Greater

In [19]:
a=10
if a>=10:
    print("A>=10")
elif a<10:
    print("A<=10")
elif a!=10:
    print("A!=10")
else:
    print("A=10")

A>=10

In [20]:
a,b,c = 10,20,30
if a>b and a>c:
    print("A is Great")
elif b>c:
    print("B is Great")
else:
    print("C is Great")

C is Great

Total Units Consumed: 
<=150 = perUnit = 2
>150 and <=250 = first 150 => 2, 100 => 3
>250 <400. first 150 =>2, 100 => 3, 150 => 5
>400 first 150 =>2, 100 => 3, 150 => 5, 7